<div class="card shadow p-4">

  <h2 class="mb-3"><%= @recipe.title %></h2>

  <p><strong>Description:</strong><br>
  <%= @recipe.description %></p>

  <p><strong>Ingredients:</strong><br>
  <%= @recipe.ingredients %></p>

  <p><strong>Instructions:</strong><br>
  <%= @recipe.instructions %></p>

  <p>
    <strong>Category:</strong>
    <span class="badge bg-success">
      <%= @recipe.category.name if @recipe.category %>
    </span>
  </p>

  <p><strong>By:</strong> <%= @recipe.user.name %></p>

  <hr>

  <%= link_to "Edit", edit_recipe_path(@recipe), class: "btn btn-warning" %>
  <%= link_to "Delete", recipe_path(@recipe), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-danger" %>
  <%= link_to "Back", recipes_path, class: "btn btn-secondary" %>

</div>