<h1><%= @recipe.title %></h1>

<p><strong>Description:</strong> <%= @recipe.description %></p>
<p><strong>Ingredients:</strong> <%= @recipe.ingredients %></p>
<p><strong>Instructions:</strong> <%= @recipe.instructions %></p>

<p><strong>Category:</strong>
  <%= @recipe.category.present? ? @recipe.category.name : "None" %>
</p>

<p><strong>By:</strong>
  <%= @recipe.user.present? ? @recipe.user.name : "Guest" %>
</p>

<hr>

<h2>Comments</h2>

<% @recipe.comments.each do |comment| %>
  <p>
    <strong><%= comment.user.present? ? comment.user.name : "Anonymous" %>:</strong>
    <%= comment.content %>
  </p>
<% end %>

<hr>

<%= link_to "Back", recipes_path %>