<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <%= link_to "RecipeApp", root_path, class: "navbar-brand" %>

    <div>
      <%= link_to "Recipes", recipes_path, class: "btn btn-outline-light me-2" %>
      <%= link_to "Categories", categories_path, class: "btn btn-outline-light me-2" %>

      <% if logged_in? %>
        <%= link_to "New Recipe", new_recipe_path, class: "btn btn-success me-2" %>

        <!-- ✅ FIXED -->
        <%= button_to "Logout", logout_path, method: :delete, class: "btn btn-danger" %>

      <% else %>
        <%= link_to "Login", login_path, class: "btn btn-primary me-2" %>
        <%= link_to "Sign Up", signup_path, class: "btn btn-success" %>
      <% end %>
    </div>
  </div>
</nav>